{% for centre in centres %}
    <tr>
        <td><a style="cursor:pointer " href="{{ path('centres_edit', {'id': centre.id}) }}">{{ centre.name }}</a></td>
        <td>{{ centre.localisation }}</td>
        <td>
           {{ include('centres/_delete_form.html.twig') }}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="17">Aucun résultat</td>
    </tr>
{% endfor %}