:root {
    /********* Connexion *********/
    --green-bg: #3E4B4C;
    --grey-border: #a7a7a7c0;
    --grey-font: #4a4a49;
    --main-bg: #F8F8F8;
    --main-font: "Montserrat", sans-serif;
    --font-title: "Spartan", sans-serif;
}