{% extends 'baseAdmin.html.twig' %}
{% block title %}ADVE back-office{% endblock %}
{% block body %}
    <div class="main">
        {{ include('_include/_navigation.html.twig') }}
        <div class="content">
            <div class="welcome-container welcome">
                {{ include('_include/_adminAcceuilView.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}