{% for message in app.flashes('danger') %}
    <div class="redalert">
        <div class="close" style="margin-right: 20px" id="close" onclick="$('.fas').parents('.redalert').remove();"><i
                    class="fas fa-times"></i></div>
        <div class="danger-alert">
            <p>{{ message }}</p>
        </div>
    </div>
{% endfor %}
<div class="main-title-back">
    <h1>ADVE</h1>
    <p>Dans cet espace, vous pouvez ajouter, modifier ou supprimer des séjours, classes découvertes, centres et
        activités. Également, il est possible d’ajouter, modifier ou supprimer des articles. </p>
    <p>Selon votre rôle, vous pourrez administrer les membres, ainsi en ajouter, en modifier et en supprimer.</p>
</div>
<div class="container-raccourci raccourci-back">
    <h2>Raccourci rapide</h2>
    <div class="row-raccourci">
        <div class="column-raccourci">
            <div class="raccourci-item">
                <a class="bouton-1" href="{{ path('article_categories_index') }}"><span><svg
                                xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <g id="image" transform="translate(-3 -3)">
                                <path id="Tracé_149" data-name="Tracé 149"
                                      d="M15.5,10A1.5,1.5,0,1,0,14,8.5,1.5,1.5,0,0,0,15.5,10Z"/>
                                <path id="Tracé_150" data-name="Tracé 150"
                                      d="M3,5A2,2,0,0,1,5,3H19a2,2,0,0,1,2,2V19a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2ZM19,5H5v7.919l3.375-2.7a1,1,0,0,1,1.249,0l4.3,3.441,1.367-1.367a1,1,0,0,1,1.414,0L19,14.586ZM5,19H19V17.414l-3-3-1.293,1.293a1,1,0,0,1-1.332.074L9,12.281l-4,3.2Z"/>
                            </g>
                        </svg></span>Voir les séjours</a>
            </div>

            <div class="raccourci-item">
                <a class="bouton-1" href="{{ path('article_categories_index') }}"><span><svg
                                xmlns="http://www.w3.org/2000/svg" width="14.07" height="14.07"
                                viewBox="0 0 14.07 14.07">
                            <path id="ajouter"
                                  d="M11.035,4a.879.879,0,0,1,.879.879v5.276h5.276a.879.879,0,1,1,0,1.759H11.915v5.276a.879.879,0,1,1-1.759,0V11.915H4.879a.879.879,0,0,1,0-1.759h5.276V4.879A.879.879,0,0,1,11.035,4Z"
                                  transform="translate(-4 -4)" fill="#0d0d0d"/>
                        </svg></span>Voir les articles</a>
            </div>
            {# {% if is_granted('ROLE_ADMIN') %} #}
            {# <div class="raccourci-item"> #}
            {# <a class="bouton-1" href="{{ path('user_new') }}"><span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"> #}
            {# <path id="user" d="M12,4a4,4,0,1,0,4,4A4,4,0,0,0,12,4ZM6,8a6,6,0,1,1,6,6A6,6,0,0,1,6,8ZM8,18a3,3,0,0,0-3,3,1,1,0,0,1-2,0,5,5,0,0,1,5-5h8a5,5,0,0,1,5,5,1,1,0,0,1-2,0,3,3,0,0,0-3-3Z" transform="translate(-3 -2)"/> #}
            {# </svg></span>Ajouter un membre</a> #}
            {# </div> #}
            {# {% endif %} #}
        </div>
    </div>
</div>

